.env
/node_modules
/config/dev.js

# dependencies
/marketing-front/node_modules
/marketing-front/.pnp
/marketing-front/pnp.js

# testing
/marketing-front/coverage

# production
/marketing-front/build

# misc
/marketing-front/DS_Store
/marketing-front/env.local
/marketing-front/env.development.local
/marketing-front/env.test.local
/marketing-front/env.production.local

/marketing-front/npm-debug.log*
/marketing-front/yarn-debug.log*
/marketing-front/yarn-error.log*